<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            Hi, There. my
            name is </p>
        <div class="name">
            <p class="p-name">Wiseman Malangwane<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">I am a tech driven individula who believes in digitalized futuire.</p>
            <p class="p-second">With the knowledge and educational experience I have,  I can adpat easily in the IT environment and please find my  <a
                    href="https://github.com/malangwane?tab=repositories">github Projects</a> here, you can also download my 
                 <a href="/resume">resume here</a>.</p>
            <p class="p-third">My <a href="https://www.linkedin.com/in/wisemanmalangwane/" rel="nofollow">LinkedIN profile</a></p>
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>